:root {
     --background: rgb(228, 223, 236);
     --navbarBackground: linear-gradient(to right, rgb(158, 160, 215), rgb(255, 170, 170), rgb(158, 160, 215));
     --text: rgb(22, 0, 38);
     --border: 1px solid #470b0b;
     --button: #141846;
     --buttonHover: #3071a9;
     --outlineBorder: 2px solid #280606;
     --borderBottom: 1px solid #ccc;
}

body {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-image: url("/media/background.png");
}

.formContainer {
     border: var(--outlineBorder) !important;
     padding: 20px  !important;
     margin: 20px  !important;
     background-color: var(--background);
}

.formContainer h2 {
     border-bottom: 1px solid #ccc;
     padding-bottom: 8px;
     margin-bottom: 16px;
}

.alignRight {
     margin-right: 20px !important;
}

.container {
     display: flex;
}

.column {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.column span:last-child {
     margin-left: auto;
}


#selectedBookTitle {
     margin-top: 15px;
}

.bookThoughtsContainer {
     border: var(--outlineBorder);
     padding: 10px;
     margin: 10px;
}

.formContainer {
     border: 1px solid var(--outlineBorder); /* Adjust the border style and color as needed */
     padding: 10px;
     margin: 10px;
}

#newPostForm {
     max-width: auto;
     margin: 20px;
}

label {
     display: block;
     margin: 8px;
     font-weight: bold;
}

input[type="text"] {
     width: 100%;
     padding: 8px;
     border: var(--border);
     border-radius: 4px;
     font-size: 14px;
     word-wrap: break-word;
     margin-bottom: 20px;
}

textarea {
     width: 100%;
     padding: 8px;
     border: var(--border);
     border-radius: 4px;
     font-size: 14px;
     resize: vertical;
}

input[type="submit"] {
     padding: 8px 16px;
     background-color: var(--button);
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 14px;
     margin: 5px;
}

#bookTitle {
     height: 30px;
     margin-bottom: 10px;
}

.addToConvoBtn {
     background-color: var(--button);
     color: white;
     border: none;
     border-radius: 4px;
     font-size: 16px;
     cursor: pointer;
     }

.addToConvoBtn:hover {
     background-color: var(--buttonHover);
}