:root {
     --background: rgb(228, 223, 236);
     --navbarBackground: linear-gradient(to right, rgb(158, 160, 215), rgb(255, 170, 170), rgb(158, 160, 215));
     --text: rgb(22, 0, 38);
     --border: 1px solid #470b0b;
     --button: #141846;
     --buttonHover: #3071a9;
     --outlineBorder: 2px solid #280606;
     --borderBottom: 1px solid #ccc;
}

body {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-image: url("/media/background.png");
}

.formContainer {
     border: var(--outlineBorder);
     padding: 20px;
     margin: 20px;
     background-color: var(--background);
}

.formContainer h2 {
     border-bottom: var(--borderBottom);
     padding-bottom: 8px;
     margin-bottom: 16px;
}

#newPostForm {
     max-width: auto;
     margin: 20px;
}

label {
     display: block;
     margin: 8px;
     font-weight: bold;
}

input[type="text"] {
     width: 100%;
     padding: 8px;
     border: var(--border);
     border-radius: 4px;
     font-size: 14px;
     word-wrap: break-word;
     margin-bottom: 20px;
}

textarea {
     width: 100%;
     padding: 8px;
     border: var(--border);
     border-radius: 4px;
     font-size: 14px;
     resize: vertical;
}

input[type="submit"] {
     padding: 8px 16px;
     background-color: var(--button);
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 14px;
     margin: 5px;
}
#bookTitle {
     height: 30px;
     margin-bottom: 10px;
     width: 300px
}

br {
     margin-top: 8px;
     margin-bottom: 8px;
}

.deleteBtn,
.updateBtn {
     padding: 8px 16px;
     background-color: var(--button);
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 14px;
     margin: 5px;
}

.deleteBtn:hover,
.updateBtn:hover {
     background-color: var(--buttonHover);
}

