:root {
  --background: rgb(228, 223, 236);
  --navbarBackground: linear-gradient(to right, rgb(158, 160, 215), rgb(255, 170, 170), rgb(158, 160, 215));
  --text: rgb(22, 0, 38);
  --border: 1px solid #470b0b;
  --button: #141846;
  --buttonHover: #3071a9;
  --outlineBorder: 2px solid #280606;
  --borderBottom: 1px solid #ccc;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  color: var(--text);
  background-image: url("/media/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  text-align: center;
  font-size: 450%;
  color: rgb(9, 0, 51);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: var(--border);
  background: var(--navbarBackground);
}

.navbar a {
  margin: 10px;
}

.left-column {
  flex: 1;
  line-height: 2;
  border-right: var(--border);
  flex-basis: 30%;
  max-width: 30%;
}

.question {
  display: flex;
  flex-direction: column;
  font-size: 200%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 2;
  text-align: center;
  flex-basis: 70%;
  max-width: 70%;
}

h6 {
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
}

.form-row {
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
}

ul {
  margin-left: 0px;
  padding: 0%;
}

ul li {
  line-height: 3;
  margin-left: 65px;
  text-align: left;
}

input[type="submit"]{
  padding: 8px 16px;
  background-color: var(--button);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

input[type="submit"]:hover {
  background-color: var(--buttonHover);
}
